<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="EMailNotifier" type="ShowBot.Infrastructure.DynamicConfigSection, ShowBot"/>
    <section name="ShowRssNewShowProvider" type="ShowBot.Infrastructure.DynamicConfigSection, ShowBot"/>
    <section name="OSDBNetSubtitler" type="ShowBot.Infrastructure.DynamicConfigSection, ShowBot"/>
    <section name="TransmissionNetDownloader" type="ShowBot.Infrastructure.DynamicConfigSection, ShowBot"/>
  </configSections>
  <EMailNotifier>
    <SMTPServer>localhost</SMTPServer>
    <SMTPUser>user</SMTPUser>
    <SMTPPassword>*****</SMTPPassword>
    <From>user@local.localhost</From>
    <To>user@local.localhost</To>
    <Subject>Notification from ShowBot</Subject>
  </EMailNotifier>
  <ShowRssNewShowProvider>
    <FeedUrl>http://showrss.karmorra.info/rss.php</FeedUrl>
  </ShowRssNewShowProvider>
  <OSDBNetSubtitler>
    <UserAgent>ShowBot v0.1</UserAgent>
    <Languages>por,pob</Languages>
  </OSDBNetSubtitler>
  <TransmissionNetDownloader>
    <TransmissionUrl>http://127.0.0.1:9091/transmission/rpc</TransmissionUrl>
    <BaseDownloadDir></BaseDownloadDir>
  </TransmissionNetDownloader>
  <appSettings>
    <add key="Interval" value="3600000"/>
    <add key="LastCheckDate" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
